* {  
    margin: 0;
    padding: 0px;
}
body{
    background: #ddf9fd;
}
main, footer {
    width: 95%;
    margin: 20px auto;
    max-width: 1500px;
    background: #88c2da;     
    
}

.contenedor-imagen{
    text-align: center;
}
.texto-encabezado{
    padding: 2% 0 2% 0; 
    color: white;
    background: rgb(25, 25, 78);
    text-transform: uppercase;
}
#image{
    max-width: 100% ;
    height: auto;
    display: block;
    margin: auto;
   

    
}
#img-caption{
    font-size: 20px;
    color: rgb(73, 71, 71);
    margin-top: 10px;
   
}


.memorandum {   
    text-align:justify;
    width: 50% ;
    margin: 2% 25% 0% 25%;
    padding-bottom: 2%;
    font-family: cursive;
    color: rgb(19, 14, 97);
}

footer{
    text-align: center;
    padding: 2% 0 2% 0;
    background: rgb(25, 25, 78) ;
    color: white;
   
}
@media (max-width: 768px) {
    #img-caption{
 font-size: 10px;
 
}
.memorandum{
    font-size: 12px;
}
.texto-encabezado{
   font-size: 14px;
}
}